// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: #16a085;
$btn-default-color: #fff;

$nav-link-padding-x: 2rem;

$nav-link-color: #525252;
